.login-gate {
    width: 30%;
    height: auto;
    margin: 0 auto;
    margin-top: 13%;
    text-align: center;
    background: #00000060;
    padding: 20px 50px;
}
.login-gate h1 {
    color: #fff;
}
