{% extends 'base.html' %}
{% load static %}
{% block title %}检查检验工作台{% endblock %}
{% block body-context %}
    {# 未实现的Websocket #}
    <!--
            <script>
                let socket = new WebSocket('ws://localhost:8000/ws/some_url/');
                socket.onmessage = function (event) {
                    let data = JSON.parse(event.data);
                    for (let i = 0; i < data.length; i++) {
                        let tr = $("<tr></tr>");
                        let patient = data[i];
                        let td = '<td>' + patient.name + '</td>';
                        tr.append(td);
                        $("#inspectingPatient").append(tr);
                    }
                }
            </script>
            -->
    {#    两侧留白较小的容器  #}
    <div class="container-fluid">
        {# 栅格布局，在行中指定列的宽度，这里将整个屏幕分成左3右9的布局，左边为检中患者和待检患者信息，右边为分页表格（病历首页，报告生成等 #}
        <div class="row">
            <div class="col-md-12 align-content-center">
                <nav class="breadcrumb-div" aria-label="breadcrumb"">
                    <ol class="breadcrumb breadcrumb-adjust">
                        <li class="breadcrumb-item">
                            <a href="{% url 'workhub' %}">工作中心</a>
                        </li>
                        <li class="breadcrumb-item bc-active">
                            <a href="#">检查检验工作站</a>
                        </li>
                    </ol>
                </nav>
            </div>
            {# 第一列宽度为3，用于放置检中患者信息和待检患者信息 #}
            <div class="col-md-3">
                {# 待检患者信息 #}
                <div class="container">
                    <div class="card">
                        <div class="card-header">待检患者</div>
                        <div style="overflow-x: auto; overflow-y: auto; height: 500px; ">
                            <table class="table table-hover small text-center">
                                <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>状态</th>
                                </tr>
                                </thead>
                                <tbody id="inspectingPatient">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {# 分页表格（病历首页、报告生成等），宽度为9 #}
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        {# 当前患者的信息 #}
                        <div class="basic-form">
                            <form>
                                <div class="form-row justify-content-center">
                                    <div class="col-md-2">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend ">
                                                <span class="input-group-text">检查编号</span>
                                            </div>
                                            <input type="text" id="inspection_id" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend ">
                                                <span class="input-group-text">就诊号</span>
                                            </div>
                                            <input type="text" id="patient_id" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend ">
                                                <span class="input-group-text">姓名</span>
                                            </div>
                                            <input type="text" id="name" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend ">
                                                <span class="input-group-text">性别</span>
                                            </div>
                                            <input type="text" id="gender" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend ">
                                                <span class="input-group-text">年龄</span>
                                            </div>
                                            <input type="text" id="age" class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        {# 分页导航栏列表，用于放置分页按钮 #}
                        <div class="default-tab">
                            <ul class="nav nav-tabs justify-content-center" role="tablist">
                                {# 检验信息 #}
                                <li class="nav-item">
                                    <a id="JYXX_a" href="#inspection_info" class="nav-link active" data-toggle="tab" aria-expanded="false">
                                        检验信息
                                    </a>
                                </li>
                                {# 报告提交 #}
                                <li class="nav-item">
                                    <a href="#result_post" class="nav-link" data-toggle="tab" aria-expanded="false">
                                        报告提交
                                    </a>
                                </li>
                            </ul>
                        </div>

                        {# 分页页面内容 #}
                        <div class="tab-content">
                            {# 检查检验基础信息，页面入口点 #}
                            <div id="inspection_info" class="tab-pane fade show active">
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form action="#">
                                            <div class="input-group input-group-lg mb-3">
                                                <label class="col-md-1.5 col-form-label text-right">检验名称：</label>
                                                <input id="inspection_name" type="text" class="form-control" readonly>
                                            </div>
                                            <div class="input-group input-group-lg mb-3">
                                                <label class="col-md-1.5 col-form-label text-right">开具时间：</label>
                                                <input id="issue_time" type="text" class="form-control" readonly>
                                            </div>
                                            <div class="input-group input-group-lg mb-3">
                                                <label class="col-md-1.5 col-form-label text-right">开具医师：</label>
                                                <input id="staff_name" type="text" class="form-control" readonly>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            {# 报告提交页面 #}
                            <div id="result_post" class="tab-pane fade">
                                <div class="card-body">
                                    {# 检验表单 #}
                                    <div class="basic-form">
                                        <form action="{% url 'InspectionAPI' %}" method="POST">
                                            <div class="ct">
                                                <div style="text-align: center">
                                                    <img src="{% static 'images/ct.jpg' %}" style="width: max-content">
                                                </div>
                                            </div>
                                            <div class="input-group mt-3 mb-3">
                                                <textarea name="inspection_result" class="form-control" rows="6" placeholder="请输入您的判断"></textarea>
                                            </div>
                                            <div class="col-md-12 text-right">
                                                <button type="button" class="form-group btn btn-outline-primary btn-sm" onclick="PostInspectionResult('{{ csrf_token }}');">
                                                    提交结果
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script-content %}
    <script src="{% static 'js/inspection_query.js' %}"></script>
{% endblock %}
