{% extends 'base.html' %}
{% load static %}
{% block title %}护士工作台{% endblock %}
{% block body-context %}
<link rel="stylesheet" href="{% static 'css/input-spinner.css' %}">
    {# 两侧留白较小的容器 #}
    <div class="container-fluid">
        <nav class="breadcrumb-div" aria-label="breadcrumb" style="padding-right: 0px;">
            <ol class="breadcrumb breadcrumb-adjust">
                <li class="breadcrumb-item">
                    <a href="{% url 'workhub' %}">工作中心</a>
                </li>
                <li class="breadcrumb-item bc-active">
                    <a href="{% url 'nurse-workspace' %}">护士工作站</a>
                </li>
            </ol>
        </nav>
        {# 栅格布局，在行中指定列的宽度，这里将整个屏幕分成左3右9的布局，左边为住院患者和待收患者信息，右边为分页表格（病历首页，体征记录等 #}
        <div class="row">
            {# 第一列宽度为3，用于放置住院患者信息和待收患者信息 #}
            <div class="col-md-3">
                {# 住院患者信息 #}
                <div class="container">
                    <div class="card" name="patient_card">
                        {# 设置卡片头 #}
                        <div class="card-header">住院患者</div>
                        {# 固定卡片大小，使得患者过多时可以滚动 #}
                        <div style="overflow-x: auto; overflow-y: auto; height: 250px; ">
                            {# 设置住院患者表（试一试就知道了 #}
                            <table class="table table-hover small text-center">
                                <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>护理级别</th>
                                </tr>
                                </thead>
                                <tbody id="inpatisnts_card">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {# 待收患者信息 #}
                <div class="container">
                    <div class="card" name="patient_card">
                        <div class="card-header">待收患者</div>
                        <div style="overflow-x: auto; overflow-y: auto; height: 300px; ">
                            <table class="table table-hover small text-center">
                                <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>性别</th>
                                </tr>
                                </thead>
                                <tbody id="waiting_patients_card">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {# 第二列的宽度为9，用于放置分页表格（病历首页、体征记录等） #}
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        {# 这里时当前患者的信息，放在了最上面 #}
                        <div class="basic-form">
                            <form>
                                <div class="form-row justify-content-center">
                                    <div class="col-md-3">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend ">
                                                <span class="input-group-text">病历号</span>
                                            </div>
                                            <input id="no" type="text" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend ">
                                                <span class="input-group-text">姓名</span>
                                            </div>
                                            <input id="name" type="text" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend ">
                                                <span class="input-group-text">性别</span>
                                            </div>
                                            <input id="gender" type="text" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend ">
                                                <span class="input-group-text">年龄</span>
                                            </div>
                                            <input id="age" type="text" class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        {# 分页导航栏列表，用于放置分页按钮 #}
                        <div class="default-tab">
                            <ul class="nav nav-tabs justify-content-center" role="tablist">
                                {# 医嘱处理按钮 #}
                                <li class="nav-item">
                                    <a id="MedicalAdviceProcess" href="#yi_zhu_chu_li" class="nav-link active"
                                       data-toggle="tab" aria-expanded="false">今日医嘱</a>
                                </li>
                                {# 体征记录按钮 #}
                                <li class="nav-item">
                                    <a href="#ti_zheng_ji_lu" class="nav-link" data-toggle="tab"
                                       aria-expanded="false">体征记录</a>
                                </li>
                                {# 入院登记按钮 #}
                                <li class="nav-item">
                                    <a id="registration_a" href="#ru_yuan_deng_ji" class="nav-link" data-toggle="tab"
                                       aria-expanded="true">入院登记</a>
                                </li>
                                <li class="ml-3 mb-0">
                                    <button id="queryBedBtn" onclick="QueryBed()" type="button"
                                            class="btn btn-primary btn-xs"
                                            data-toggle="modal" data-target=".bd-example-modal-lg">床位查询
                                    </button>
                                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h3 class="modal-title">病床选择</h3>
                                                    <button type="button" class="close"
                                                            data-dismiss="modal"><span>&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {# 分页导航栏列表，用于放置分页按钮 #}
                                                    <div class="default-tab">
                                                        <ul id="areas" class="nav nav-tabs justify-content-center"
                                                            role="tablist"></ul>
                                                    </div>
                                                    {# 分页页面内容 #}
                                                    <div id="beds" class="tab-content"></div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger light"
                                                            data-dismiss="modal">取消
                                                    </button>
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                                                            onclick='BedSelect()'>选择
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {# 分页页面内容 #}
                        <div class="tab-content">
                            {# 医嘱处理页面信息，第一次进入页面默认显示这个 #}
                            <div id="yi_zhu_chu_li" class="tab-pane fade show active mt-5">
                                <div id="accordion-one" class="accordion accordion-bordered">
                                    <div class="accordion__item">
                                        <div class="accordion__header rounded-lg" data-toggle="collapse"
                                             data-target="#default_collapseOne">
                                            <span class="accordion__header--text">医嘱</span>
                                            <span class="accordion__header--indicator"></span>
                                        </div>
                                        <div id="default_collapseOne" class="collapse accordion__body show"
                                             data-parent="#accordion-one">
                                            <div class="accordion__body--text row text-center" id="medical_advice"><p
                                                    class="col-12">今日暂无医嘱</p></div>
                                        </div>
                                    </div>
                                    <div class="accordion__item">
                                        <div class="accordion__header collapsed rounded-lg" data-toggle="collapse"
                                             data-target="#default_collapseTwo">
                                            <span class="accordion__header--text">药品</span>
                                            <span class="accordion__header--indicator"></span>
                                        </div>
                                        <div id="default_collapseTwo" class="collapse accordion__body"
                                             data-parent="#accordion-one">
                                            <div class="accordion__body--text row text-center" id="medicine_info"><p
                                                    class="col-12">今日暂无药品信息</p></div>
                                        </div>
                                    </div>
                                    <div class="accordion__item">
                                        <div class="accordion__header collapsed rounded-lg" data-toggle="collapse"
                                             data-target="#default_collapseThree">
                                            <span class="accordion__header--text">检查检验</span>
                                            <span class="accordion__header--indicator"></span>
                                        </div>
                                        <div id="default_collapseThree" class="collapse accordion__body "
                                             data-parent="#accordion-one">
                                            <div class="accordion__body--text row text-center" id="test_item"><p
                                                    class="col-12">今日暂无检查检验项目</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# 体征记录页面信息 #}
                            <div id="ti_zheng_ji_lu" class="tab-pane fade">
                                <div class="card-body">
                                    {# 检验表单 #}
                                    <div class="basic-form">
                                        <form id="nursing_record_form">
                                            <input type="hidden" name="post_param" value="nursing_record">
                                            <input type="hidden" name="regis_id">
                                            <div class="input-group input-group-lg mb-3">
                                                <label class="col-md-1.5 col-form-label text-right">
                                                    收缩压：
                                                </label>
                                                <input type="text" name="systolic" class="form-control" oninput="validate_float(this);">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">mmHg</span>
                                                </div>
                                            </div>
                                            <div class="input-group input-group-lg mb-3">
                                                <label class="col-md-1.5 col-form-label text-right">
                                                    舒张压：
                                                </label>
                                                <input type="text" name="diastolic" class="form-control" oninput="validate_float(this);">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">mmHg</span>
                                                </div>
                                            </div>
                                            <div class="input-group input-group-lg mb-3">
                                                <label class="col-md-1.5 col-form-label text-right">
                                                    体&emsp;温：
                                                </label>
                                                <!-- <div class="input-group-prepend">
                                                    <span class="input-group-text">$</span>
                                                </div> -->
                                                <!-- <input type="text" name="temperature" class="form-control"> -->
                                                <div class="spinner">
                                                    <input type="text" name="temperature" class="form-control" value="37.5" oninput="validate_float(this);">
                                                    <div class="input-group-btn-vertical">
                                                        <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                                        <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                                    </div>
                                                </div>
                                                <div class="input-group-append">
                                                    <span class="input-group-text">℃</span>
                                                </div>
                                            </div>
                                            <textarea name="note" class="form-control mb-3" rows="10"
                                                      placeholder="如有其他情况，请在此说明"></textarea>
                                            <div class="col-md-12 text-right">
                                                <button type="button" onclick="postNursingRecord('{{ csrf_token }}')"
                                                        class="form-group btn btn-outline-primary btn-sm">
                                                    提交记录
                                                </button>
                                            </div>
                                        </form>

                                    </div>

                                </div>
                            </div>
                            {# 入院登记页面信息 #}
                            <div id="ru_yuan_deng_ji" class="tab-pane fade">
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form id="hospital_registration_form">
                                            <input type="hidden" name="regis_id">
                                            <input type="hidden" name="post_param" value="hospital_registration">
                                            <div class="form-group">
                                                <div class="input-group input-group-lg mb-4">
                                                    <label class="col-md-1.5 col-form-label text-right">入院日期： </label>
                                                    <input name="reg_date"
                                                           class="col-md-10.5 datepicker-default form-control form-control-lg"
                                                           id="datepicker"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label class="col-md-1.5 col-form-label text-right">护理级别： </label>
                                                    <select id="care_level" class="form-control form-control-lg"
                                                            name='care_level'>
                                                        <option></option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group input-group-lg mb-4">
                                                    <label class="col-md-1.5 col-form-label text-right">病区床位：</label>
                                                    <input id="AreaBed" class="form-control form-control-lg" readonly
                                                           onfocus="$('#queryBedBtn').click()" name='area_bed'>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group input-group-lg mb-3">
                                                    <label class="=col-md-1.5 col-form-label text-right">家属电话：</label>
                                                    <input class="form-control form-control-lg" type="tel" maxlength="11" name="kin_phone" oninput="validate_kin_phone(this);">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="text-right">
                                                    <button type="button"
                                                            onclick="postHospitalRegistration('{{ csrf_token }}')"
                                                            class="btn btn-outline-primary">提 交
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script-content %}
    <script src="{% static 'js/nurse_query.js' %}"></script>
    <script src="{% static 'js/nurse-workspace-validate.js' %}"></script>
{% endblock %}
