{% extends '../../templates/base.html' %}
{% load static %}
{% block title %}
找回密码
{% endblock %}
{% block body-context %}
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h4 class="text-center mb-4">找回您的密码</h4>
                                    {# 这里不太清楚应该action到哪 cation='#'似乎是提交到当前页 #}
                                    <form action="#" method="POST">
                                        <div class="form-group input-group-sm">
                                            <label class="mb-1"><strong>姓名</strong></label>
                                            <input type="text" class="form-control " name="username" placeholder="">
                                        </div>
                                        <div class="form-group input-group-sm">
                                            <label class="mb-1"><strong>身份证号</strong></label>
                                            <input type="text" class="form-control" name="IDCard"
                                                   placeholder="">
                                        </div>
                                        <div class="form-group input-group-sm">
                                            <label class="mb-1"><strong>手机号码</strong></label>
                                            <input type="text" class="form-control" name="telephone"
                                                   placeholder="">
                                        </div>
                                        <label class="mb-1"><strong>验证码</strong></label>
                                        <div class="row">
                                            <div class="form-group col-sm-4">
                                                <input type="text" class="form-control" name="check_code"
                                                       placeholder="">
                                            </div>
                                            <div class="col-sm-8 text-center">
                                                <button type="submit" class="btn btn-primary btn-block ">发送短信验证码
                                                </button>
                                            </div>
                                            {# 这里我把按钮的布局设置好了，但具体按钮应该提交什么东西到何处还没想清楚 #}
                                            {# 这里的按钮比文本框矮了一点，不知道为啥 #}
                                        </div>


                                        <div class="text-center mt-4">
                                            <button type="submit" class="btn btn-primary btn-block">找回密码</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
