{% extends 'base.html' %}
{% load static %}
{% block title %}新闻动态{% endblock %}
{% block body-context %}
    <style>
        .carousel-item {
            height: 300px;
        }
    </style>
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12 align-content-center">
                    <div class="page-titles mb-2 mt-0">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'profile' %}">Profile</a></li>
                            <li class="breadcrumb-item active"><a href="{% url 'news' %}">News</a>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="bootstrap-carousel">
                                <div data-ride="carousel" class="carousel slide" id="carouselExampleCaptions">
                                    <ol class="carousel-indicators">
                                        <li class="active" data-slide-to="0" data-target="#carouselExampleCaptions">
                                        </li>
                                        <li data-slide-to="1" data-target="#carouselExampleCaptions" class=""></li>
                                        <li data-slide-to="2" data-target="#carouselExampleCaptions" class=""></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="{% static 'images/big/img.png' %}" alt="">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5>医院全貌</h5>
                                                <br/>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <img alt="" class="d-block w-100" src="{% static 'images/big/img_1.png' %}">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5>医院走进中阳乡村义诊</h5>
                                                <br/>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <img alt="" class="d-block w-100" src="{% static 'images/big/img_2.png' %}">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5>医院圆满完成新生入学体检</h5>
                                                <br/>
                                            </div>
                                        </div>
                                    </div>
                                    <a data-slide="prev" href="#carouselExampleCaptions"
                                       class="carousel-control-prev"><span
                                            class="carousel-control-prev-icon"></span> <span
                                            class="sr-only">Previous</span>
                                    </a><a data-slide="next" href="#carouselExampleCaptions"
                                           class="carousel-control-next"><span
                                        class="carousel-control-next-icon"></span> <span
                                        class="sr-only">Next</span></a>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="card-body">
                            <div class="basic-list-group">
                                <ul class="list-group list-group-flush">
                                    {% for item in news %}
                                        <li class="list-group-item"><a href="http://xyy.buaa.edu.cn/info/1108/3643.htm"
                                                                       target="_blank"><span>{{ item.send_time }}</span><em>
                                            {{ item.content|slice:'80' }}…</em></a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <ul class="pagination offset-5">
                                <li class="page-item page-indicator">
                                    <a class="page-link" href="javascript:void()">
                                        <i class="la la-angle-left"></i></a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="javascript:void()">1</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="javascript:void()">2</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void()">3</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void()">4</a></li>
                                <li class="page-item page-indicator">
                                    <a class="page-link" href="javascript:void()">
                                        <i class="la la-angle-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
