{% extends 'base.html' %}
{% load static %}
{% block title %}个人中心{% endblock %}
{% block body-context %}
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header justify-content-center">
                            <h3>近期新闻</h3>
                        </div>
                        <div class="card-body">
                            <div class="basic-list-group">
                                <ul class="list-group list-group-flush">

                                    <li class="list-group-item"><a href="http://xyy.buaa.edu.cn/info/1108/3643.htm"
                                                                   target="_blank"><span>04/12</span><em>党史学习教育正当时——校医院与离退休工…</em></a>
                                    </li>

                                    <li class="list-group-item"><a href="http://xyy.buaa.edu.cn/info/1108/3641.htm"
                                                                   target="_blank"><span>04/12</span><em>校医院第一和第二党支部联合开展“清明祭…</em></a>
                                    </li>

                                    <li class="list-group-item"><a href="http://xyy.buaa.edu.cn/info/1108/3639.htm"
                                                                   target="_blank"><span>04/12</span><em>校医院召开党史学习教育动员会</em></a>
                                    </li>

                                    <li class="list-group-item"><a href="http://xyy.buaa.edu.cn/info/1108/3631.htm"
                                                                   target="_blank"><span>04/01</span><em>找差距
                                        抓落实
                                        永葆初心本色——校医院第…</em></a></li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header justify-content-center">
                            <h3>常用站点</h3>
                        </div>

                        <div class="card-body">
                            <div class="basic-list-group row">
                                <ul class="list-group col-4">
                                    <li class="list-group-item" class="col-md-4">
                                        <a  href="{% url 'nurse-workspace' %}">
                                            <h4 class="clearfix mb-0">
                                                护士医生工作台
                                            </h4>
                                            <small class="mb-0">nurse-workspace</small>

                                        </a>
                                    </li>
                                    <li class="list-group-item" class="col-md-4">
                                        <a href="https://oa2-443.e2.buaa.edu.cn" target="_blank">

                                            <h4 class="clearfix mb-0">
                                                OA系统
                                            </h4>
                                            <small>oa2.buaa.edu.cn</small>
                                        </a>
                                    </li>
                                    <li class="list-group-item" class="col-md-4">
                                        <a href="https://icw-443.e2.buaa.edu.cn" target="_blank">

                                            <h4 class="clearfix mb-0">
                                                财务系统
                                            </h4>
                                            <small>icw.buaa.edu.cn</small>
                                        </a>
                                    </li>

                                </ul>
                                <ul class="list-group col-4">
                                    <li class="list-group-item" class="col-md-4">
                                        <a href="{% url 'outpatient-workspace' %}">
                                            <h4 class="clearfix mb-0">
                                                门诊医生工作台
                                            </h4>
                                            <small>outpatient-workspace</small>
                                        </a>
                                    </li>

                                    <li class="list-group-item" class="col-md-4">
                                        <a href="https://n-443.e2.buaa.edu.cn/v2/site/index" target="_blank">

                                            <h4 class="clearfix mb-0">
                                                服务平台
                                            </h4>
                                            <small>n.buaa.edu.cn</small>
                                        </a>
                                    </li>
                                    <li class="list-group-item" class="col-md-4">
                                        <a href="https://jwxt-8080.e2.buaa.edu.cn:443/ieas2.1" target="_blank">

                                            <h4 class="clearfix mb-0">
                                                教务管理系统
                                            </h4>
                                            <small>jwxt.buaa.edu.cn</small>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="list-group col-4">

                                    <li class="list-group-item" class="col-md-4">
                                        <a href="{% url "inspection-workspace" %}">

                                            <h4 class="clearfix mb-0"> 机器检验工作台 </h4>
                                            <small>inspection-workspace</small>
                                        </a>
                                    </li>
                                    <li class="list-group-item" class="col-md-4">
                                        <a href="https://10-111-2-161.e2.buaa.edu.cn:443/sfw" target="_blank">

                                            <h4 class="clearfix mb-0">
                                                设备管理系统
                                            </h4>
                                            <small>10.111.2.161</small>
                                        </a>
                                    </li>
                                    <li class="list-group-item" class="col-md-4">
                                        <a href="https://gsmis.e2.buaa.edu.cn:443/" target="_blank">
                                            <h4 class="clearfix mb-0">
                                                新版研究生教育综合管理信息系统
                                            </h4>
                                            <small>gsmis.buaa.edu.cn</small>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>备忘录</h4>
                </div>
                <div class="card-body">
                    <ol>
                        <li>List item 1</li>
                    </ol>
                    <button id="tianJia" class="form-group btn btn-outline-primary btn-sm" >添加备注</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
    <script>
        $(document).ready(function () {
            $("#tianJia").click(function () {
                $("p").append(" <b>追加文本</b>。");
            });

            $("#tianJia").click(function () {
                $("ol").append("<li>追加列表项</li>");
            });
        });
    </script>
{% endblock %}
