{% extends 'base.html' %}
{% block title %}门诊医生工作台{% endblock %}
{% block body-context %}

    {# 两侧留白较小的容器 #}
    <div class="container-fluid">
        {#        <div class="page-titles">#}
        {#            <ol class="breadcrumb">#}
        {#                <li class="breadcrumb-item"><a href="javascript:void(0)">Bootstrap</a></li>#}
        {#                <li class="breadcrumb-item active"><a href="javascript:void(0)">Accordion</a></li>#}
        {#            </ol>#}
        {#        </div>#}
        {# 栅格布局，在行中指定列的宽度，这里将整个屏幕分成左3右9的布局，左边为诊中患者和待诊患者信息，右边为分页表格（病例首页，检查检验等 #}
        <div class="row">
            {# 第一列宽度为3，用于放置诊中患者信息和待诊患者信息 #}
            <div class="col-md-3">
                {# 在第一列中新建行，每一个container占一行（这里的一行指container不会横向排布 #}
                {# 诊中患者信息 #}
                <div class="container">
                    <div class="card">

                        <div class="card-header">诊中患者</div>
                        <div style="overflow-x: auto; overflow-y: auto; height: 250px; ">

                            <div class="table-responsive text-center">
                                <table class="table table-hover small">
                                    <thead>
                                    <tr>
                                        <th>姓名</th>
                                        <th>状态</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>肖云冲</td>
                                        <td><span class="badge badge-success">检查完毕</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>云冲肖</td>
                                        <td><span class="badge badge-primary light">检查中</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>冲云肖</td>
                                        <td><span class="badge badge-primary light">检查中</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {# 待诊患者信息 #}
                <div class="container">
                    <div class="card">
                        <div class="card-header">待诊患者</div>
                        <div style="overflow-x: auto; overflow-y: auto; height: 300px; ">
                            <div class="table-responsive text-center">
                                <table class="table table-hover small">
                                    <thead>
                                    <tr>
                                        <th>姓名</th>
                                        <th>紧急程度</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>李国铭</td>
                                        <td><span class="badge badge-primary light">普通</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>特狼普</td>
                                        <td><span class="badge badge-danger light">危急</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>好可怕</td>
                                        <td><span class="badge badge-primary light">普通</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>两只老虎</td>
                                        <td><span class="badge badge-primary light">Sale</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Kolor Tea Shirt</td>
                                        <td><span class="badge badge-primary light">Sale</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Kolor Tea Shirt</td>
                                        <td><span class="badge badge-primary light">Sale</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Kolor Tea Shirt</td>
                                        <td><span class="badge badge-success">Tax</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Blue Backpack</td>
                                        <td><span class="badge badge-danger light">Extended</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            {# 第二列的宽度为9，用于放置分页表格（病例首页、检查检验等） #}
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="basic-form">
                            <form>
                                <div class="form-row justify-content-center">
                                    <div class="col-md-3">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend ">
                                                <span class="input-group-text">会诊号</span>
                                            </div>
                                            <input type="text" class="form-control" readonly placeholder="114514">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend ">
                                                <span class="input-group-text">姓名</span>
                                            </div>
                                            <input type="text" class="form-control" readonly placeholder="肖云冲">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend ">
                                                <span class="input-group-text">性别</span>
                                            </div>
                                            <input type="text" class="form-control" readonly placeholder="男">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend ">
                                                <span class="input-group-text">年龄</span>
                                            </div>
                                            <input type="text" class="form-control" readonly placeholder="18">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {# 这些分页表单用container包裹，为了美观 #}
                        {# 分页导航栏列表，用于放置分页按钮 #}
                        <div class="default-tab">
                            <ul class="nav nav-tabs justify-content-center" role="tablist">
                                {# 病例首页按钮 #}
                                <li class="nav-item">
                                    <a href="#bing_li_shou_ye" class="nav-link active" data-toggle="tab"
                                       aria-expanded="false">病例首页</a>
                                </li>
                                {# 检查检验按钮 #}
                                <li class="nav-item">
                                    <a href="#jian_cha_jian_yan" class="nav-link" data-toggle="tab"
                                       aria-expanded="false">检查检验</a>
                                </li>
                                {# 门诊确诊按钮 #}
                                <li class="nav-item">
                                    <a href="#men_zhen_que_zhen" class="nav-link" data-toggle="tab"
                                       aria-expanded="true">门诊确诊</a>
                                </li>
                                {# 处方开具按钮 #}
                                <li class="nav-item">
                                    <a href="#navpills-4" class="nav-link" data-toggle="tab"
                                       aria-expanded="true">处方开具</a>
                                </li>
                                {# 手术申请按钮 #}
                                <li class="nav-item">
                                    <a href="#navpills-4" class="nav-link" data-toggle="tab"
                                       aria-expanded="true">手术申请</a>
                                </li>
                                {# 患者账单按钮 #}
                                <li class="nav-item">
                                    <a href="#huan_zhe_zhang_dan" class="nav-link" data-toggle="tab"
                                       aria-expanded="true">患者账单</a>
                                </li>
                            </ul>

                            {# 分页页面内容 #}
                            <div class="tab-content">

                                {# 病例首页页面信息，第一次进入页面默认显示这个 #}
                                <div id="bing_li_shou_ye" class="tab-pane fade show active">
                                    <div class="card-body">
                                        <div class="basic-form">
                                            <form action="#">
                                                <div class="input-group input-group-lg mb-3">
                                                    <label class="col-md-2 col-form-label text-right">患者主诉： </label>
                                                    <input type="text" class="form-control" readonly
                                                           placeholder="您好，这种状况持续很久了">
                                                </div>
                                                <div class="input-group input-group-lg mb-3">
                                                    <label class="col-md-2 col-form-label text-right">现病史：</label>
                                                    <input type="text" class="form-control" placeholder="不想学习"
                                                           readonly>
                                                </div>
                                                <div class="input-group input-group-lg mb-3">
                                                    <label class="col-md-2 col-form-label text-right">现病治疗情况：
                                                    </label> <input type="text" class="form-control"
                                                                    placeholder="缺少一顿毒打"
                                                                    readonly>
                                                </div>
                                                <div class="input-group input-group-lg mb-3">
                                                    <label class="col-md-2 col-form-label text-right">既往史：
                                                    </label> <input type="text" class="form-control"
                                                                    placeholder="既往一直不想学习"
                                                                    readonly>
                                                </div>
                                                <div class="input-group input-group-lg mb-3">
                                                    <label class="col-md-2 col-form-label text-right">过敏史：
                                                    </label> <input type="text" class="form-control"
                                                                    placeholder="对书本、作业、ppt过敏"
                                                                    readonly>
                                                </div>
                                                <div class="input-group input-group-lg mb-3">
                                                    <label class="col-md-2 col-form-label text-right">体格检查：
                                                    </label> <input type="text" class="form-control"
                                                                    placeholder="一切偏低"
                                                                    readonly>
                                                </div>
                                                <div class="input-group input-group-lg mb-3">
                                                    <label class="col-md-2 col-form-label text-right">发病时间：
                                                    </label> <input type="text" class="form-control"
                                                                    placeholder="time ∈ (-∞, +∞)"
                                                                    readonly>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                {# 检查检验页面信息 #}
                                <div id="jian_cha_jian_yan" class="tab-pane fade">
                                    <div class="card-body">
                                        <div class="basic-form">
                                            <form action="#">
                                                <div class="form-group">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <label class="col-md-1.5 col-form-label text-right">常规检验： </label>
                                                        <select class="form-control form-control-lg" id="sel1">
                                                            <option>无</option>
                                                            <option>血常规</option>
                                                            <option>尿常规</option>
                                                            <option>便常规</option>
                                                            <option>精液常规</option>
                                                            <option>白带常规</option>
                                                            <option>脑脊液常规</option>
                                                            <option>血流变</option>
                                                            <option>血沉</option>
                                                            <option>血凝</option>
                                                            <option>血涂片</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <label class="col-md-1.5 col-form-label text-right">生化检验： </label>
                                                        <select class="form-control form-control-lg" id="sel1">
                                                            <option>无</option>
                                                            <option>血常规</option>
                                                            <option>尿常规</option>
                                                            <option>便常规</option>
                                                            <option>精液常规</option>
                                                            <option>白带常规</option>
                                                            <option>脑脊液常规</option>
                                                            <option>血流变</option>
                                                            <option>血沉</option>
                                                            <option>血凝</option>
                                                            <option>血涂片</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <label class="col-md-1.5 col-form-label text-right">免疫检验： </label>
                                                        <select class="form-control form-control-lg" id="sel1">
                                                            <option>无</option>
                                                            <option>乙肝五项</option>
                                                            <option>甲肝</option>
                                                            <option>丙肝</option>
                                                            <option>梅毒</option>
                                                            <option>肺炎支原体</option>
                                                            <option>甲状腺功能检查</option>
                                                            <option>HIV</option>
                                                            <option>类风湿检查</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <label class="col-md-1.5 col-form-label text-right">细菌检验： </label>
                                                        <select class="form-control form-control-lg" id="sel1">
                                                            <option>无</option>
                                                            <option>葡萄球菌</option>
                                                            <option>杆菌</option>
                                                            <option>链球菌</option>
                                                            <option>真菌</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <label class="col-md-1.5 col-form-label text-right">其他检验： </label>
                                                        <select class="form-control form-control-lg" id="sel1">
                                                            <option>无</option>
                                                            <option>强制性脊椎炎</option>
                                                            <option>脑钠肽</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="card">
                                                <div class="card-header border-0 pb-0">
                                                    <h5 class="card-title">检查结果</h5>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text">He lay on his armour-like back, and if
                                                        he
                                                        lifted his head a little he could see his brown
                                                        belly, slightly domed and divided by arches into stiff
                                                        <br>
                                                        sections. The bedding was hardly able to cover
                                                        it and seemed ready to
                                                        slide off any moment.
                                                    </p>
                                                </div>
                                                <div class="card-footer border-0 pt-0">
                                                    <p class="card-text d-inline">Card footer</p>
                                                    <a href="javascript:void()" class="card-link float-right">Card
                                                        link</a>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                {# 门诊确诊页面信息 #}
                                <div id="men_zhen_que_zhen" class="tab-pane fade">
                                    <div class="container">
                                        <div class="card-body">
                                            <div class="basic-form">
                                                <form action="#">
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                {# 患者账单页面信息 #}
                                <div id="huan_zhe_zhang_dan" class="tab-pane fade">
                                    <div class="container">
                                        <div class="card-body">
                                            <div class="basic-form">
                                                <form action="#">
                                                    <div class="card">
                                                        <div class="card-header border-0 pb-0">
                                                            <h5 class="card-title">金额细则</h5>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="table-responsive">
                                                                <table class="table table-hover small">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>药品名</th>
                                                                        <th>类型</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td>Kolor Tea Shirt For Man</td>
                                                                        <td><span
                                                                                class="badge badge-primary light">Sale</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Kolor Tea Shirt For Women</td>
                                                                        <td><span
                                                                                class="badge badge-success">Tax</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Blue Backpack For Baby</td>
                                                                        <td><span
                                                                                class="badge badge-danger light">Extended</span>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="card-footer border-0 pt-0">
                                                            <p class="card-text d-inline">Card footer</p>
                                                            <a href="javascript:void()"
                                                               class="card-link float-right">Card
                                                                link</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
<div class="basic-form">
    <form action="#">
        <div class="form-group">
            <select class="form-control form-" id="sel1">
                <option>无</option>
                <option>血常规</option>
                <option>尿常规</option>
                <option>便常规</option>
                <option>精液常规</option>
                <option>白带常规</option>
                <option>脑脊液常规</option>
                <option>血流变</option>
                <option>血沉</option>
                <option>血凝</option>
                <option>血涂片</option>
            </select>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">生化检验</span>
                </div>
                <select class="form-control" id="sel1">
                    <option>无</option>
                    <option>肝功能</option>
                    <option>肾功能</option>
                    <option>心肌酶</option>
                    <option>血脂</option>
                    <option>肌钙蛋白</option>
                    <option>血气分析</option>
                    <option>淀粉酶</option>
                    <option>电解质</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">免疫检验</span>
                </div>
                <select class="form-control" id="sel1">
                    <option>无</option>
                    <option>乙肝五项</option>
                    <option>甲肝</option>
                    <option>丙肝</option>
                    <option>梅毒</option>
                    <option>肺炎支原体</option>
                    <option>甲状腺功能检查</option>
                    <option>HIV</option>
                    <option>类风湿检查</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">细菌检验</span>
                </div>
                <select class="form-control" id="sel1">
                    <option>无</option>
                    <option>葡萄球菌</option>
                    <option>杆菌</option>
                    <option>链球菌</option>
                    <option>真菌</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">其他检验</span>
                </div>
                <select class="form-control" id="sel1">
                    <option>无</option>
                    <option>强制性脊椎炎</option>
                    <option>脑钠肽</option>
                </select>
            </div>
        </div>
    </form>
    <div class="card">
        <div class="card-header border-0 pb-0">
            <h5 class="card-title">检查结果</h5>
        </div>
        <div class="card-body">
            <p class="card-text">He lay on his armour-like back, and if he
                lifted his head a little he could see his brown
                belly, slightly domed and divided by arches into stiff <br>
                sections. The bedding was hardly able to cover
                it and seemed ready to
                slide off any moment.
            </p>
        </div>
        <div class="card-footer border-0 pt-0">
            <p class="card-text d-inline">Card footer</p>
            <a href="javascript:void()" class="card-link float-right">Card
                link</a>
        </div>
    </div>

</div></div>
