{% extends 'base.html' %}

{% block title %}住院医生工作台{% endblock %}
{% block body-context %}
    {% load static %}

    <!--整个界面container-->
    <div class="container-fluid" xmlns="http://www.w3.org/1999/html">

        <div class="row">

            <!-- 顶端科室和病区显示 -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="col-md-4">科室：1032&emsp;&emsp;&emsp;&emsp;&emsp;病区：D</h4>
                        <p class="mb-0 subtitle">负责区域总人数：10086</p>
                    </div>
                </div>
            </div>

            <!-- 第一列宽度为3，用于放置诊中患者信息和近期将要出院的信息 -->
            <div class="col-md-3">
                <!-- 在第一列中新建行，每一个container占一行（这里的一行指container不会横向排布 -->
                <!-- 诊中患者信息 -->
                <div class="container">
                    <div class="card">
                        <div class="card-header">诊中患者</div>
                        <div style="overflow-x: auto; overflow-y: auto; height: 250px; ">
                            <div class="table-responsive text-center">
                                <table class="table table-hover small">
                                    <thead>
                                    <tr>
                                        <th>姓名</th>
                                        <th>床号</th>
                                    </tr>
                                    </thead>
                                    <tbody id="ZZHZ">
                                    <tr onclick="displayDate()">
                                        <td>A1</td>
                                        <td>1002</td>
                                    </tr>
                                    <tr>
                                        <td>A2</td>
                                        <td>1003</td>
                                    </tr>
                                    <tr>
                                        <td>A3</td>
                                        <td>1004</td>
                                    </tr>
                                    <tr>
                                        <td>A3</td>
                                        <td>1004</td>
                                    </tr>
                                    <tr>
                                        <td>A3</td>
                                        <td>1004</td>
                                    </tr>
                                    <tr>
                                        <td>A3</td>
                                        <td>1004</td>
                                    </tr>
                                    <tr>
                                        <td>A3</td>
                                        <td>1004</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 近期将要出院的信息 -->
                <div class="container">
                    <div class="card">
                        <div class="card-header">近期将出院的患者</div>
                        <div style="overflow-x: auto; overflow-y: auto; height: 300px; ">
                            <div class="table-responsive text-center">
                                <table class="table table-hover small">
                                    <thead>
                                    <tr>
                                        <th>姓名</th>
                                        <th>床号</th>
                                    </tr>
                                    </thead>
                                    <tbody id="CYHZ">
                                    <tr>
                                        <td>xinxin</td>
                                        <td>123</td>
                                    </tr>
                                    <tr>
                                        <td>噢噢</td>
                                        <td>345</td>
                                    </tr>
                                    <tr>
                                        <td>哈哈</td>
                                        <td>789</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 第二列的宽度为9，用于放置分页表格（病例首页、检查检验等） -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <!-- 最上部分的个人信息 -->
                        <div class="basic-form">
                            <form>
                                <div class="form-row justify-content-center">
                                    <div class="col-md-3">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend ">
                                                <span class="input-group-text">会诊号</span>
                                            </div>
                                            <!--  <label>-->
                                            <input type="text" class="form-control" readonly placeholder="114514">
                                            <!--  </label>-->
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend ">
                                                <span class="input-group-text">姓名</span>
                                            </div>
                                            <input type="text" class="form-control" readonly placeholder="肖云冲">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend ">
                                                <span class="input-group-text">性别</span>
                                            </div>
                                            <input type="text" class="form-control" readonly placeholder="男">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend ">
                                                <span class="input-group-text">年龄</span>
                                            </div>
                                            <input type="text" class="form-control" readonly placeholder="18">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- 下部分的具体表单 -->
                        <div class="default-tab">
                            <!-- 导航栏 -->
                            <ul class="nav nav-tabs justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a href="#yi_zhu_kai_ju" class="nav-link active" data-toggle="tab"
                                       aria-expanded="false">医嘱开具</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#bing_li_ji_lu" class="nav-link" data-toggle="tab"
                                       aria-expanded="false">病历记录</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#bao_gao_cha_xun" class="nav-link" data-toggle="tab"
                                       aria-expanded="true">报告查询</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#shou_shu_shen_qing" class="nav-link" data-toggle="tab"
                                       aria-expanded="true">手术申请</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#ti_zheng_ji_lu" class="nav-link" data-toggle="tab"
                                       aria-expanded="true">体征记录</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#fei_yong_ji_lu" class="nav-link" data-toggle="tab"
                                       aria-expanded="true">费用记录</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#dan_ju_da_yin" class="nav-link" data-toggle="tab"
                                       aria-expanded="true">单据打印</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#chu_yuan_yi_zhu" class="nav-link" data-toggle="tab"
                                       aria-expanded="true">出院医嘱</a>
                                </li>
                            </ul>

                            <!--  页面内具体内容 -->
                            <div class="tab-content">
                                <!-- 医嘱开具 -->
                                <div id="yi_zhu_kai_ju" class="tab-pane fade show active">
                                    <div class="card-body">
                                        <div class="basic-form">
                                            <form action="#">

                                                <form action="{% url 'InhospitalAPI' %}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <div class="input-group input-group-sm mb-3">
                                                            <label class="col-md-1.5 col-form-label text-right">常规检验： </label>
                                                            <select class="form-control form-control-lg" name='CGJY'>
                                                                <option>无</option>
                                                                <option>血常规</option>
                                                                <option>尿常规</option>
                                                                <option>便常规</option>
                                                                <option>精液常规</option>
                                                                <option>白带常规</option>
                                                                <option>脑脊液常规</option>
                                                                <option>血流变</option>
                                                                <option>血沉</option>
                                                                <option>血凝</option>
                                                                <option>血涂片</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-group input-group-sm mb-3">
                                                            <label class="col-md-1.5 col-form-label text-right">生化检验： </label>
                                                            <select class="form-control form-control-lg"
                                                                    name="sheng_hua">
                                                                <option>无</option>
                                                                <option>肝功能</option>
                                                                <option>肾功能</option>
                                                                <option>血糖</option>
                                                                <option>血脂</option>
                                                                <option>尿酸</option>
                                                                <option>乳酸脱氢酶</option>
                                                                <option>肌酸激酶</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-group input-group-sm mb-3">
                                                            <label class="col-md-1.5 col-form-label text-right">免疫检验： </label>
                                                            <select class="form-control form-control-lg" name="mian_yi">
                                                                <option>无</option>
                                                                <option>乙肝五项</option>
                                                                <option>甲肝</option>
                                                                <option>丙肝</option>
                                                                <option>梅毒</option>
                                                                <option>肺炎支原体</option>
                                                                <option>甲状腺功能检查</option>
                                                                <option>HIV</option>
                                                                <option>类风湿检查</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-group input-group-sm mb-3">
                                                            <label class="col-md-1.5 col-form-label text-right">细菌检验： </label>
                                                            <select class="form-control form-control-lg" name="xijun">
                                                                <option>无</option>
                                                                <option>葡萄球菌</option>
                                                                <option>杆菌</option>
                                                                <option>链球菌</option>
                                                                <option>真菌</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-group input-group-sm mb-3">
                                                            <label class="col-md-1.5 col-form-label text-right">其他检验： </label>
                                                            <select class="form-control form-control-lg" name="qi_ta">
                                                                <option>无</option>
                                                                <option>强制性脊椎炎</option>
                                                                <option>脑钠肽</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 text-right">
                                                        <button type="submit" onclick="submitAlert()"
                                                                class="form-group btn btn-outline-primary btn-sm">
                                                            提交检验
                                                        </button>
                                                    </div>
                                                </form>
{#                                                <div class="input-group input-group-lg mb-3">#}
{#                                                    <label class="col-md-2 col-form-label text-right">现病史：</label>#}
{#                                                    <input type="text" class="form-control" placeholder="不想学习"#}
{#                                                           readonly>#}
{#                                                </div>#}
{#                                                <div class="input-group input-group-lg mb-3">#}
{#                                                    <label class="col-md-2 col-form-label text-right">现病治疗情况：#}
{#                                                    </label> <input type="text" class="form-control"#}
{#                                                                    placeholder="缺少一顿毒打"#}
{#                                                                    readonly>#}
{#                                                </div>#}
{#                                                <div class="input-group input-group-lg mb-3">#}
{#                                                    <label class="col-md-2 col-form-label text-right">既往史：#}
{#                                                    </label> <input type="text" class="form-control"#}
{#                                                                    placeholder="既往一直不想学习"#}
{#                                                                    readonly>#}
{#                                                </div>#}
{#                                                <div class="input-group input-group-lg mb-3">#}
{#                                                    <label class="col-md-2 col-form-label text-right">过敏史：#}
{#                                                    </label> <input type="text" class="form-control"#}
{#                                                                    placeholder="对书本、作业、ppt过敏"#}
{#                                                                    readonly>#}
{#                                                </div>#}
{#                                                <div class="input-group input-group-lg mb-3">#}
{#                                                    <label class="col-md-2 col-form-label text-right">体格检查：#}
{#                                                    </label> <input type="text" class="form-control"#}
{#                                                                    placeholder="一切偏低"#}
{#                                                                    readonly>#}
{#                                                </div>#}
{#                                                <div class="input-group input-group-lg mb-3">#}
{#                                                    <label class="col-md-2 col-form-label text-right">发病时间：#}
{#                                                    </label> <input type="text" class="form-control"#}
{#                                                                    placeholder="time ∈ (-∞, +∞)"#}
{#                                                                    readonly>#}
{#                                                </div>#}
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- 病例记录 -->
                                <div id="bing_li_ji_lu" class="tab-pane fade">
                                    <div class="card-body">
                                        <div class="basic-form">
                                            <form action="#">
                                                <div class="form-group">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <label class="col-md-1.5 col-form-label text-right">常规检验： </label>
                                                        <select class="form-control form-control-lg" id="sel1">
                                                            <option>无</option>
                                                            <option>血常规</option>
                                                            <option>尿常规</option>
                                                            <option>便常规</option>
                                                            <option>精液常规</option>
                                                            <option>白带常规</option>
                                                            <option>脑脊液常规</option>
                                                            <option>血流变</option>
                                                            <option>血沉</option>
                                                            <option>血凝</option>
                                                            <option>血涂片</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <label class="col-md-1.5 col-form-label text-right">生化检验： </label>
                                                        <select class="form-control form-control-lg" id="sel1">
                                                            <option>无</option>
                                                            <option>血常规</option>
                                                            <option>尿常规</option>
                                                            <option>便常规</option>
                                                            <option>精液常规</option>
                                                            <option>白带常规</option>
                                                            <option>脑脊液常规</option>
                                                            <option>血流变</option>
                                                            <option>血沉</option>
                                                            <option>血凝</option>
                                                            <option>血涂片</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <label class="col-md-1.5 col-form-label text-right">免疫检验： </label>
                                                        <select class="form-control form-control-lg" id="sel1">
                                                            <option>无</option>
                                                            <option>乙肝五项</option>
                                                            <option>甲肝</option>
                                                            <option>丙肝</option>
                                                            <option>梅毒</option>
                                                            <option>肺炎支原体</option>
                                                            <option>甲状腺功能检查</option>
                                                            <option>HIV</option>
                                                            <option>类风湿检查</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <label class="col-md-1.5 col-form-label text-right">细菌检验： </label>
                                                        <select class="form-control form-control-lg" id="sel1">
                                                            <option>无</option>
                                                            <option>葡萄球菌</option>
                                                            <option>杆菌</option>
                                                            <option>链球菌</option>
                                                            <option>真菌</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <label class="col-md-1.5 col-form-label text-right">其他检验： </label>
                                                        <select class="form-control form-control-lg" id="sel1">
                                                            <option>无</option>
                                                            <option>强制性脊椎炎</option>
                                                            <option>脑钠肽</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="card">
                                                <div class="card-header border-0 pb-0">
                                                    <h5 class="card-title">检查结果</h5>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text">He lay on his armour-like back, and if
                                                        he
                                                        lifted his head a little he could see his brown
                                                        belly, slightly domed and divided by arches into stiff
                                                        <br>
                                                        sections. The bedding was hardly able to cover
                                                        it and seemed ready to
                                                        slide off any moment.
                                                    </p>
                                                </div>
                                                <div class="card-footer border-0 pt-0">
                                                    <p class="card-text d-inline">Card footer</p>
                                                    <a href="javascript:void()" class="card-link float-right">Card
                                                        link</a>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <!-- 报告查询 -->
                                <div id="bao_gao_cha_xun" class="tab-pane fade">
                                    <div class="container">
                                        <div class="card-body">
                                            <div class="basic-form">
                                                <form action="#">
                                                    emm
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 手术申请 -->
                                <div id="shou_shu_shen_qing" class="tab-pane fade">
                                    <div class="container">
                                        <div class="card-body">
                                            <div class="basic-form">
                                                <form action="#">
                                                    <div class="card">
                                                        <div class="card-header border-0 pb-0">
                                                            <h5 class="card-title">金额细则</h5>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="table-responsive">
                                                                <table class="table table-hover small">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>药品名</th>
                                                                        <th>类型</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td>Kolor Tea Shirt For Man</td>
                                                                        <td><span
                                                                                class="badge badge-primary light">Sale</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Kolor Tea Shirt For Women</td>
                                                                        <td><span
                                                                                class="badge badge-success">Tax</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Blue Backpack For Baby</td>
                                                                        <td><span
                                                                                class="badge badge-danger light">Extended</span>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="card-footer border-0 pt-0">
                                                            <p class="card-text d-inline">Card footer</p>
                                                            <a href="javascript:void()"
                                                               class="card-link float-right">Card
                                                                link</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 体征记录 -->
                                <div id="ti_zheng_ji_lu" class="tab-pane fade">
                                    <div class="container">
                                        <div class="card-body">
                                            <p>emmm</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- 费用记录 -->
                                <div id="fei_yong_ji_lu" class="tab-pane fade">
                                    <div class="container">
                                        <div class="card-body">
                                            <p>emmm</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- 单据打印 -->
                                <div id="dan_ju_da_yin" class="tab-pane fade">
                                    <div class="container">
                                        <div class="card-body">
                                            <p>emmm</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- 出院医嘱 -->
                                <div id="chu_yuan_yi_zhu" class="tab-pane fade">
                                    <div class="container">
                                        <div class="card-body">
                                            <p>emmm</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{#    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>#}
{#    <script src="{% static 'js/his/inhospital.js' %}"></script>#}
{% endblock %}

