{% extends 'base.html' %}
{% load static %}
{% block title %}个人中心{% endblock %}
{% block body-context %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 shadow-lg">
                <div class="card">
                    <div class="card-header justify-content-center">
                        <h3>近期新闻</h3>
                    </div>
                    <div class="card-content text-center">
                        <div class="">
                            <div class="media-body">
                                <span class="d-block text-light mb-2">姓名</span>
                                <p class="fs-18 text-dark"><strong>李</strong>国铭</p>
                            </div>
                            <div class="media-body">
                                <span class="d-block text-light mb-2">地址</span>
                                <p class="fs-18 text-dark"><strong>北京航空航天大学, </strong>新北区</p>
                            </div>
                        </div>
                        <div class="">
                            <div class="media-body">
                                <span class="d-block text-light mb-2">联系电话</span>
                                <p class="fs-18 text-dark "><strong>+86</strong> 4001234567</p>
                            </div>
                        </div>
                        <div class="">
                            <div class="media-body">
                                <span class="d-block text-light mb-2">邮箱</span>
                                <p class="fs-18 text-dark font-w600 mb-0">info@buaa.edu.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <H3>常用站点</H3>
                    </div>

                    <div class="card-body">
                        <ul class="row">
                            <li class="col-md-3">
                                <div class="container shadow-lg">
                                    <a href="https://gsmis.e2.buaa.edu.cn:443/" target="_blank">
                                        <h4 class=""> 研究生管理信息系统
                                        </h4>
                                        <small>gsmis.buaa.edu.cn</small>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3">
                                <div class="container shadow-lg">
                                    <a href="https://gsmis.e2.buaa.edu.cn:443/" target="_blank">
                                        <h4 class="mb-0 mt-2"> 研究生管理信息系统
                                        </h4>
                                        <small>gsmis.buaa.edu.cn</small>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3">
                                <div class="container shadow-lg">
                                    <a href="https://gsmis.e2.buaa.edu.cn:443/" target="_blank">
                                        <h4 class="mb-0 mt-2"> 研究生管理信息系统
                                        </h4>
                                        <small>gsmis.buaa.edu.cn</small>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3">
                                <div class="container shadow-lg">
                                    <a href="https://gsmis.e2.buaa.edu.cn:443/" target="_blank">
                                        <h4 class="mb-0 mt-2"> 研究生管理信息系统
                                        </h4>
                                        <small>gsmis.buaa.edu.cn</small>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3">
                                <div class="container shadow-lg">
                                    <a href="https://gsmis.e2.buaa.edu.cn:443/" target="_blank">
                                        <h4 class="mb-0 mt-2"> 研究生管理信息系统
                                        </h4>
                                        <small>gsmis.buaa.edu.cn</small>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3">
                                <div class="container shadow-lg">
                                    <a href="https://gsmis.e2.buaa.edu.cn:443/" target="_blank">
                                        <h4 class="mb-0 mt-2"> 研究生管理信息系统
                                        </h4>
                                        <small>gsmis.buaa.edu.cn</small>
                                    </a>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card abilities-chart">
        <div class="card-header">
            <h4>备忘录</h4>
        </div>
        <div class="card-body">
        </div>
    </div>
    </div>


    </div>
{% endblock %}
