{% extends 'base.html' %}
{% load static %}
{% block title %}个人中心{% endblock %}
{% block body-context %}
    {{ chang_gui }}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header justify-content-center text-white bg-primary">
                        <strong>个人信息</strong>
                    </div>
                    <div class="card-content text-center">
                        <div class="">
                            <div class="media-body">
                                <span class="d-block text-light mb-2">姓名</span>
                                <p class="fs-18 text-dark"><strong>李</strong>国铭</p>
                            </div>
                            <div class="media-body">
                                <span class="d-block text-light mb-2">地址</span>
                                <p class="fs-18 text-dark"><strong>北京航空航天大学, </strong>新北区</p>
                            </div>
                        </div>
                        <div class="">
                            <div class="media-body">
                                <span class="d-block text-light mb-2">联系电话</span>
                                <p class="fs-18 text-dark "><strong>+86</strong> 4001234567</p>
                            </div>
                        </div>
                        <div class="">
                            <div class="media-body">
                                <span class="d-block text-light mb-2">邮箱</span>
                                <p class="fs-18 text-dark font-w600 mb-0">info@buaa.edu.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header justify-content-center text-white bg-warning">待诊患者</div>
                    <div style="overflow-x: auto; overflow-y: auto; height: 300px; ">
                        <table class="table table-hover small text-center">
                            <thead>
                            <tr>
                                <th>会诊号</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>年龄</th>
                                <th>紧急程度</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>李国铭</td>
                                <td><span class="badge badge-primary light">普通</span>
                                </td>
                                <td>114514</td>
                            </tr>
                            <tr>
                                <td>特狼普</td>
                                <td><span class="badge badge-danger light">危急</span>
                                </td>
                            </tr>
                            <tr>
                                <td>好可怕</td>
                                <td><span class="badge badge-primary light">普通</span>
                                </td>
                            </tr>
                            <tr>
                                <td>两只老虎</td>
                                <td><span class="badge badge-primary light">Sale</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Kolor Tea Shirt</td>
                                <td><span class="badge badge-primary light">Sale</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Kolor Tea Shirt</td>
                                <td><span class="badge badge-primary light">Sale</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Kolor Tea Shirt</td>
                                <td><span class="badge badge-success">Tax</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Blue Backpack</td>
                                <td><span class="badge badge-danger light">Extended</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="card abilities-chart">
            <div class="card-header border-0 pb-0">
                <h4 class="fs-20 font-w600">Doctors Abilities</h4>
            </div>
            <div class="card-body">
                <div id="pie-chart" class="ct-chart ct-golden-section chartlist-chart"></div>
                <div class="chart-point">
                    <div>
                        <span class="a"></span>
                        <span class="text-ov px-1 fs-15">Operation</span>
                    </div>
                    <div>
                        <span class="b"></span>
                        <span class="text-ov px-1 fs-15">Theraphy</span>
                    </div>
                    <div>
                        <span class="c"></span>
                        <span class="text-ov px-1 fs-15">Mediation</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
